.App {
	text-align: center;
}

/* p {
	margin: 0px;
	line-height: 0;
	margin-top: 1rem;
} */

.m-0 {
	margin: 0px;
}

.l-height-0 {
	line-height: 0 !important;
}

.mt-15 {
	margin-top: 1.5rem !important;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.truncateText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
}
.viewAllHide {
	display: none;
}

.fs-11 {
	font-size: 11px;
}

.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.modal {
	max-width: 620px;
	min-width: 500px;
	max-height: 90vh;
}

.middleStencil {
	align-items: unset;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
	.modal {
		max-width: 100%;
		min-width: 200px;
		max-height: 90vh;
	}

	.middleStencil {
		align-items: center;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
